* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/*Sidebar*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  background: #eaeef6;
  font-family: 'Open Sans', sans-serif;
}

nav>ul>li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 2rem;
  left: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
}

.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
}

.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
}

.navbar__link:hover {
  color: darkblue;
}

.navbar:not(:hover) .navbar__link:focus,
.navbar__link:hover {
  span {
    opacity: 1;
    transform: translate(0);
  }
}

.navbar__menu {
  position: relative;
}

.navbar__item:last-child:before {
  content: '';
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #406ff3;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}

.navbar__item:first-child:nth-last-child(1):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(1)~li:hover~li:last-child:before {
  opacity: 1;
}

.navbar__item:first-child:nth-last-child(2):hover~li:last-child:before,
.navbar__item:first-child:nth-last-child(2)~li:hover~li:last-child:before {
  opacity: 1;
}

/* Additional rules for gooeyEffect keyframes and hover states */
@keyframes gooeyEffect-1 {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*Navbar2*/

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  right: 8.5rem;
  top: 1.9rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 38rem);
  width: 80rem;
}

.nav-title {
  width: 40rem;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.nav-list-item > input {
  width: 15rem;
  height: 1.7rem;
  padding: 15px;
  border: 2px solid #6a778e;
  border-radius: 5rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.nav-list-item > input:hover {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.nav-icon {
  cursor: pointer;
  transition: 0.3s color;
}

.nav-icon:hover {
  color: #406ff3;
}

/*Dahsboard*/

.dashboard-box {
  position: relative;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 38rem);
  width: 30rem;
}

.chart {

}

/*----------------------Box Grid----------------------*/

.home-dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 6;
}

.div3 {
  grid-area: 2 / 2 / 3 / 4;
}

.div4 {
  grid-area: 2 / 4 / 3 / 6;
}

.div5 {
  grid-area: 3 / 2 / 6 / 4;
}

.div6 {
  grid-area: 3 / 4 / 6 / 6;
}